@media (max-width: 480px){
    body{
        word-break: break-word;
    }

    #menu{
        display: block;
        justify-content: unset;
    }

    li{
        float: unset;
    }

    .classPic{
        float: unset;
        width: 200px;
    }
}