@import "about.css";
@import "websites.css";
@import "contact.css";

body {
    /* background-color: lightblue; */
    margin: 0;
    font-family: Verdana;
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    width: 300%;
    height: 300%;
    position: absolute;
    transform: translate(0, 0);
    transition: transform 1s;
}

#menu {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    width: 360px;
    top: 0;
    left: 0;
    z-Index: 3;
    transform: translate(-40px, 0);
    transition: transform 1s;
}

#openNavi {
    display: none;
    width: 40px;
    height: 40px;
}

.menuButton {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.menuButton:hover {
    opacity: 0.4;
}

.classPage {
    display: inline;
    width: 33.3%;
    height: 33.3%;
    text-align: justify;
}

.classPage h1 {
    text-align: center;
}

.classPage h2 {
    text-align: center;
}

.classPage p {
    padding: 1em;
}

.classPic{
    width: 300px;
    margin: 1em;
    border: 1px solid black;
}

.centerPic {
    text-align: center;
}

.centerPage {
    display: flex;
    justify-content: center;
}

.innerPage {
    width: 90%;
    display: block;
    border: 10px solid forestgreen;
    background-color: lightgreen;
    margin-top: 15%;
}

@media (min-width: 640px){
    #menu {
        transform: translate(-320px, 0);
    }

    #openNavi {
        display: block;
    }

    .innerPage{
        width: 80%;
        margin-top: 5%;
    }

    .classPic {
        float: right;
    }
}