body {
    /* background-color: lightblue; */
}

#main {
    display: flex;
    flex-wrap: wrap;
    background-color: lightpink;
    width: 300%;
    height: 300%;
    position: absolute;
    transform: translate(0, 0);
    transition: transform 1s;
}

#menu {
    background-color: lightblue;
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    z-Index: 2;
}

.classButton {
    padding: 10px;
    background-color: lightgreen;
}

.classButton:hover {
    opacity: 0.4;
}

.classPage {
    display: inline;
    width: 33.3%;
    height: 33.3%;
}

#home {
    background-color: blue;
}

#websites {
    background-color: blue;
}

#about {
    background-color: blue;
}

#contact {
    background-color: blue;
}